/*
Light Grey #DDDDDD
Dark Grey #B5B5B6
Light cyan #b7FCFC
Light Blue #2BBFE2
Dark Blue #5FA1D3
*/



*{
    padding:0px;
    margin: 0px;
    font-size: 100%;
}



.menu{
    margin-right: 10px;
}
.navBar{
    background-color: #5fa1d3; 
    border: none;
}

.navBar > a {
    font-size: 200%;
    color: #DDDDDD;
    height: 6%;
    padding: 1% 20px;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    display:inline-block;
    vertical-align:top;
}
.projectHold{
    padding: 10px;
    background-color: #4e4e4e;
    /* columns: 1fr; */
    border-radius: 5%;
    color:rgb(211, 211, 211);
    
}
.projectHold > h3 {
    padding:0% 8%;
    font-size: 250%;
    
}
.projectHold > .des {
    font-size: 150%;
    padding:0% 8%;
    height: 5%;
}

.button{
    border-radius: 10%;
    
    margin-left: 65%;
    background-color: #3964da;
    border: none;
    color: rgb(211, 211, 211);
    padding: 2% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 125%;

}
.projectHold > img {
    padding: 2% 5% 0;
    text-align: left;
    width: 90%;
    height:70%;
    border-radius:10%
}

@media screen and (max-width: 1500px){
    .body{
        background-color: white;
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }

    .outline{
        grid-column: 2;
        background-color: #b7fcfc;
    }

    .projectContainer{
        background-color: #b7fcfc;
        margin: 0 10%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

    }

    .projectHold{
        margin-top: 10px;
        background-color: #4e4e4e;
        columns: 10fr;
        border-radius: 5%;
        color:rgb(211, 211, 211);
        
    }
}




@media screen and (min-width: 1500px){
    .body{

        display: grid;
        background-color: white;
        grid-template-columns: 5% 90% 5%;
    }
    
    .outline{
        grid-column: 2;
        padding:2%;
        background-color:#b7fcfc;
        padding: auto;
    }
    
    
    .projectContainer{
        
        margin: 0 2%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 10px;
    }
    
    .button{
        margin-top: 3%;
    }
}