*{
    padding:0px;
    margin: 0px;
}

nav {
    background-color: rgb(10, 177, 219); 
    padding: 20px 0px; 
    border: none;
    color:aliceblue;
}

#meImg {
    width: 50%;
}

.navButton {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: aliceblue;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 300ms ease-in-out;
}
.navButton:hover {
    background-color: rgb(14, 99, 121);
}

body {
    font-family: 'Libre Baskerville', serif;
    background-color: rgb(214, 255, 255);
    
}

h1 {
    font-size: 36px;
    padding:8px 8px;
}

h3 {
    font-size: 24px;
    padding: 8px 8px;
}

p {
    font-size: 12px;
    padding: 4px 8px;
}

.assignment {
    color:rgb(24, 0, 160);
    text-decoration: none;
    transition: background-color 300ms ease-in-out;
}

.assignment:hover {
    color: rgb(129, 129, 129);
}

hr {
    text-align: left;
    border-top: 3px dotted red;
    padding: 4px 4px;
    width: 50%;
}